---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<ul>
    <li> Lecturer of mathematics at Sudan International University 2020-2021.</li>
    <li> A mathematics trainer in King Abdulaziz and his Companions Foundation for Giftedness and Creativity (MAWHIBA) program for training the Saudi team for the International Mathematical Olympiads 2016, 2017, 2022, 2023, and 2024.</li>
    <li> Lecturer and teaching assistant with KAUST Academy Program for teaching Artificial intelligence in 2023 and 2024.</li>
    <li> Teaching Assistant for the PhD level course Stochastic Numerics at Kaust.</li>
    <li> Teaching Assistant of Mathematics at University of Khartoum 2020.</li>
    <li> Teaching assistant of mathematics at King Saud University, 2016-2017.</li>
</ul>


<!--
The original code
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
